{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Tunnel settings</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Active since</th>
              <td>{{ object.active_since }}</td>
            </tr>


            <tr>
              <th scope="row">Remote organisation</th>
              <td>{{ object.gegenstelle }}</td>
            </tr>

            <tr>
              <th scope="row">Vpn endpoint internal</th>
              <td>{{ object.vpn_endpoint }}</td>
            </tr>

            <tr>
              <th scope="row">Remote Ip</th>
              <td>{{ object.remote_ip }}</td>
            </tr>

          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>

    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Customer</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Tenant</th>
              <td>{{ object.tenant }}</td>
            </tr>

            <tr>
              <th scope="row">Customer Contact</th>
              <td>{{ object.customer_contact }}</td>
            </tr>

            <tr>
              <th scope="row">Ordered by</th>
              <td>{{ object.ordered_by }}</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col col-md-12"> 
        {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}